<div style="width: 100%; height: 100%" fxFlex="100">
  <br /><br />
  <div>
    <h2>Bienvenido</h2>
    <mat-divider></mat-divider>
  </div>
  <br /><br />
  <div
    fxLayout="row"
    style="width: 100%; margin-top: 100px"
    fxLayoutAlign="space-between center"
  >
    <mat-card
      fxFlex="20"
      fxLayout="column"
      fxLayoutAlign="center center"
      (click)="goTo('students')"
    >
      <mat-icon color="primary">person</mat-icon>
      <h3><strong>Crear estudiante</strong></h3>
    </mat-card>
    <mat-card
      fxFlex="20"
      fxLayout="column"
      fxLayoutAlign="center center"
      (click)="goTo('students')"
    >
      <mat-icon color="primary">location_on</mat-icon>
      <h3><strong>Crear lugar</strong></h3>
    </mat-card>
    <mat-card
      fxFlex="20"
      fxLayout="column"
      fxLayoutAlign="center center"
      (click)="goTo('places')"
    >
      <mat-icon color="primary">school</mat-icon>
      <h3><strong>Crear monitor</strong></h3>
    </mat-card>
  </div>
</div>
